{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
	<div class='col-md-12' ng-app='Analytics' ng-init="csrf_token = '{{csrf_token()}}'" ng-controller='DashboardController'>
		<center>

			<div ng-show="standAloneError" class='col-md-4'>
				<h3>Error</h3>
			</div>

			<div ng-show="!standAloneError" class='col-md-4'>
				<h2>Averages</h2>
				<div class='row'>
					<h3> Average Monthly Inflow</h3>
					$ <span ng-bind='standAlone.aveInflow'></span>
				</div>
				<div class='row'>
					<h3> Average Monthly Outflow</h3>
					$ <span ng-bind='standAlone.aveOutflow'></span>
				</div>
				<div class='row'>
					<h3> Average Monthly Net</h3>
					$ <span ng-bind='standAlone.aveNet'></span>
				</div>
			</div>
		</center>
		<center>
			<h2>Monthly Inflow/Outflow</h2>
			<div ng-show="chartError" class='col-md-8'>
				<h3>Error</h3>
			</div>

			<div ng-show="!chartError" class='col-md-8'>
				<div class='row charts' id='chart1'>

				</div>

				<div class='row charts' id='chart2'>
					
				</div>
			</div>
		</center>
	</div>
{% endblock %}
{%block scripts%}
	<script src="{{url_for('static', filename='js/app.js') }}"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
{%endblock%}