{% extends "base.html" %}

{% block content %}
	<div class='col-md-12' ng-app='Analytics' ng-init="csrf_token = '{{csrf_token()}}'" ng-controller='DashboardController'>
		<div class='col-md-2'></div>
		<center>
			<div ng-show="error" class='col-md-8'>
				<h3>Error</h3>
			</div>

			<div ng-show="!error" class='col-md-8'>
				<div class='row' id='chart1'>

				</div>

				<div class='row' id='chart2'>
					
				</div>
			</div>
		</center>
		<div class='col-md-2'></div>
	</div>
{% endblock %}
{%block scripts%}
	<script src="{{url_for('static', filename='js/app.js') }}"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
{%endblock%}